* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}


* {
  font-family: "Inter", sans-serif;
}


body {
  background: #f9fafb;
  color: #0f172a;
}

/* Navbar Section Design Stead */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 120px;
  background: white;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #334155;
  font-size: 16px;
  font-weight: 500;
}

.nav-btn {
  background: #22c55e;
  color: white;
  font-size: 20px;
  font-weight: 600px;
  border: none;
  padding: 13px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

/* Hero Section Design stead*/
.hero {
  
  max-width: 1640px;
  height: 674px;
  background: url("./imgfile/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}




.hero-content {
  text-align: center;
  color: white;
  padding: 20px;
}

.badge {
   
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    color: #4c8c64; 
    padding: 9px 12px ;
    border-radius: 100px; 
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #e0e0e0; 
    margin-bottom: 16px;
  }

.badge::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #4c8c64; 
    border-radius: 50%;
    margin-right: 18px;
    margin-left: 12px;
    box-shadow: 
      0 0 0 6px rgba(76, 140, 100, 0.3), 
      0 0 0 12px rgba(76, 140, 100, 0.1); 
  }


.hero h1 {
    font-size: 70px;
    font-weight: 700;
    color: #e5f0ff;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 16px;
}

.hero h1 span {
  color: 30B868;
}

.hero p {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 2;
}

.hero-buttons button {
  padding: 12px 18px;
  border-radius: 6px;
  border: none;
  margin: 0 8px;
  cursor: pointer;
}

.primary {
  background: #22c55e;
  color: white;
    display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
}

.secondary {
  background: transparent;
  color: white;
  border: 1px solid #ffffff !important;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}




/* Features section Design stead */
.features {
  padding: 80px 60px;
  text-align: center;
}

.features h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.subtitle {
  color: #64748b;
  margin-bottom: 50px;
}


.cards{
    display: flex;
    gap: 24px;
}

.card {
    width: 322px;
    height: 300px;
    background: white;
    border: 1px solid #e5e7eb; /* Light border similar to UI design tools */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
     
  }



/* Icon Circle Design */
  .icon-circle {
    width: 70px;
    height: 70px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    color: white;
  }

.card h3 {
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
}

.card p {
  color: #64748b;
  font-size: 16px;
  line-height: 20px;
}





/* solution-Section Design stead  */


  .section-container {
    width: 1360px;
    height: 600px;
    background: white;
    display: flex; /* Creates the Left/Right split */
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  }

 .solution-section {
  padding: 120px 0;
 
}

.solution-container {
  max-width: 1360px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

/* Left Image  Design*/
.solution-image {
  flex: 1;
  text-align: center;
}

.solution-image img {
  max-width: 100%;
  height: auto;
}

/* Right Content Design */
.solution-content {
  flex: 1;
}

.solution-tag {
  color: #2f9e44;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
}

.solution-content h2 {
  font-size: 48px;
  font-weight: bold;
  margin: 16px 0;
  color: #0b1c2d;
}

.solution-content p {
  color: #6b7280;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 24px;
}

.solution-content ul {
  list-style: none;
  margin-top: 40px;
}

.solution-content ul li {
  margin-bottom: 16px;
  padding-left: 26px;
  font-size: 16px;
  font-weight: 500px;
  position: relative;
  color: #0b1c2d;
}

/* Icon on left Design */
.solution-content ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  background-image: url("./imgfile/CheckCircle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

 /* >Ready To Think More Clearly? */
.cta-section {
  background: #F7F6F2;
  padding: 80px 20px;
  text-align: center;
  border-radius: 16px;
  max-width: 1140px;
  margin: 100px auto;
}

.cta-section h2 {
  font-size: 36px;
  color: #0b1c2d;

  margin-bottom: 16px;
}

.cta-section p {
  color: #627382;
  margin-bottom: 16px;
  font-size: 16px;
}

.primary {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #3c8d5a;
  padding: 14px 28px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  margin-top: 24px;
}

.primary {
  border: none;
  outline: none;
}


.cta-note {
  display: block;
  margin-top: 16px;
  color: #6b7280;
  font-size: 14px;
}





/* Footer */
.footer {
  background: #021b33;
  color: #fff;
  padding: 60px 40px 20px;
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 120px 80px 120px;
}

.footer-social{
    padding-right: 107px;
}
.footer-social h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  gap: 14px;
}

.social-icons a {
  width: 20px;
  height: 20px;
  background: #fff;
  color: #021b33;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #22c55e;
  color: #fff;
}

.horizontal {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 30px;
}

.footer-bottom {
  text-align: center;

  font-size: 16px;
  padding-bottom: 30px;
}









